<!DOCTYPE html>
<html>
  <head>
    <title>PT Tokotap Sepatu Kemahalan</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <div>
      <!-- Navbar static page -->
      <nav class="navbar navbar-default bg-orange hidden-xs" id="navbar-sitelinks" style="margin-bottom:0;border-bottom:solid 1px #DDD">
        <div class="container">
          <div class="navbar-header">
            <a href="/"><img src="images/logo/logo.png" class="logo" alt="Logo Mulmut"></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/upload">Upload New Product</a></li>
              <li><a href="/manage">Manage Products</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
