<% include header.ejs %>

    <h1>Confirmation Page</h1>
    <h4>insert information for transfer and form for confirmation payments</h4>
    <h4> insert button for submit action='/thanks' method='GET'</h4> ()
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
